.idea/**
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz